.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  
}

.App-header {
  background-color: greenyellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: grid;
  width: 100%;
}

.cart {
  background-color: greenyellow;
  padding: 20px;
  margin-top: 20px;
}

.cart-nav{
  padding-right: 10px;
  padding-left: 10px;
}

.cartItem {
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 1em;
  justify-content: space-around;
  height: 270px;
}

.orderItem {
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 1em;
  justify-content: space-around;
  height: 270px;
}

.cartItem div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}

.cart-item-button {
  width: 10px;
  height: 10px;
}

.item-added{
  background-color: lawngreen;
  border: lawngreen
}

.itemDetails img {
  height: 500px;
  width: 500px;
}

.log-button{
  font-size: 15px;
}

.orderBox {
  border: 1px solid gray;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.orderInfo {
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid gray;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.orderHeader {
  align-self: center;
}

.orderButtonBox{
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  
}

.google-pic {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.detailsButton {
  height: 40px;
}

.products {
  display: grid;
  grid-template-columns: 15% 85%
}

.products-search{
  margin: 10px;
}

.productsHeader {
  justify-content: space-around;
  margin-top: 30px;
}

.sidebar {
  grid-column: 1/2;
  margin: 20px;
}

.searchResult{
  margin: 30px;
}

.total {
  justify-content: 'space-around'
}

.profilePageImage {
  width: 40%;
  height: 40%;
}

.content {
  grid-column: 2/3;
}

.loaderDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.payment-box{
  margin: 50px;
  padding: 50px;
  -webkit-box-shadow: 0 0 5px rgb(122, 122, 122);
  border-radius: 2px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

