.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  
}

.App-header {
  background-color: greenyellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cart {
  background-color: greenyellow;
  padding: 20px;
  margin-top: 20px;
}

.cart-nav{
  padding-right: 10px;
  padding-left: 10px;
}

.cartItem {
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 1em;
  justify-content: space-around;
  height: 270px;
}

.container{
  margin-bottom: 5%;
}

.orderItem {
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 1em;
  justify-content: space-around;
  height: 270px;
}

.cartItem div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
}

.cart-item-button {
  width: 10px;
  height: 10px;
}

.item-added{
  background-color: lawngreen;
  border: lawngreen
}

.itemDetails img {
  height: 500px;
  width: 500px;
}

.log-button{
  font-size: 15px;
}

.orderBox {
  border: 1px solid gray;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.orderInfo {
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid gray;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.orderHeader {
  align-self: center;
}

.orderButtonBox{
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  
}

.google-pic {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.detailsButton {
  height: 40px;
}

.products {
  display: grid;
  grid-template-columns: 15% 85%
}

.products-search{
  margin: 10px;
}

.productsHeader {
  justify-content: space-around;
  margin-top: 30px;
}

.sidebar {
  grid-column: 1/2;
  margin: 20px;
}

.searchResult{
  margin: 30px;
}

.total {
  justify-content: 'space-around'
}

.profilePageImage {
  width: 40%;
  height: 40%;
}

.content {
  grid-column: 2/3;
}

.loaderDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.wrapper{
  display: grid;
  position: relative;
  height: 100%;
  width: 1950px;
}

.payment-header{
  display: flex;
  justify-content: flex-start;
}

.payment-bg-1 {
  /* padding: 50px; */
  z-index: -100;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#8dc525, #b2fd27);
  /* transform: skewY(-30deg); */
  clip-path: polygon( 0 100%, 0 0%, 65% 0, 20% 100%);
}

.payment-divider{
  margin: 2%;
  border-bottom: 1px solid black;
  opacity: .2;
}

.payment-box{
  /* transform: skewY(30deg); */
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  margin: 6.25%;
  z-index: 100;
  height: 85%;
  width: 85%;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842);
}

.payment-items{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  padding: 50px;
  /* background-color: rgba(255, 255, 255, 0.842); */
  height: 100%;
  width: 50%;
}

.checkout-items{
  padding: 30px;
  height: 85%; 
  overflow: scroll;
}

.payment-items h1{
  color: green;
  font-size: 3em;
  margin-bottom: 7%;
}


/* .payment-labels p{
  margin-left: 15%;  
}

.payment-labels :nth-child(2){
  margin-left: 37%;
}

.payment-labels :nth-child(3){
  margin-left: 14%;
} */

.checkout-item{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
  height: 15%;
  padding: 2%;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.payment-method {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.payment-icon {
  height: 15%;
  width: 15%;
}

.payment-method > :first-child{
  margin-right: auto;
  margin-left: 7%;
}

.payment-method > :last-child{
  margin-left: auto;
  
}


.checkout-item h3{
  margin-left: 7%;
  width: 15%;
}

.checkout-item :nth-child(3) h3{
  margin-left: 20%;
}

.payment-total{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 50px;
  height: 100%;
  width: 50%;
  -webkit-box-shadow: 0px 0 5px rgba(80, 196, 27, 0.842);
  background-image: linear-gradient(345deg, #8dc525, #b2fd27)
}

.payment-details{
  width: 100%;
  padding: 7%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.payment-details h3{
  margin: 3%; 
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.aboutRow {
  justify-content: space-between;
}

.aboutBox{
  margin-top: 10%;
  padding: 5%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}

.aboutPic{
  margin-top: 10%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0 5px rgba(99, 99, 99, 0.842)
}